<div class="container">
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="head"><h4>Please Login!</h4></div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"></label>
          <input type="text" class="form-control" name="email" id="exampleInputusername" aria-describedby="usernameHelp" formControlName="email" placeholder="Enter your Email">
          <span style="color: red;" *ngIf="email.invalid && email.touched"><p>Enter valid Email</p></span>
          <!-- <div id="emailHelp" class="form-text">enter valid username</div> -->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"></label>
          <input [type]="val" class="form-control" name="password" id="exampleInputPassword1" formControlName="password" placeholder="Enter your Password">
          <span style="color: red;" *ngIf ="password.invalid && password.touched">Enter valid password</span>
          <i [class]="eye" class="eye" (click)="toggle()" aria-hidden="true"></i>

        </div>
        <button type="submit" class="button">Submit</button>
      </form>
    </div>
